
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // As transações de um usuário só podem ser acessadas pelo próprio usuário.
    match /transactions/{transactionId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
